<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF=8" />
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <link rel="stylesheet" href="./css/milligram.css"/>
        <link rel="stylesheet" href="./css/style.css"/>
        <title>Vue ToDo</title>
    </head>
    <body>
        <div id="app" class="container">
            <h1>{{ appName }}</h1>
            <input type="text" placeholder="add ToDo..." v-model="newTodoTitle" @keyup.enter="addTodo(newTodoTitle)" />
            <div v-for="todo in todos">
                <label :class="{done: todo.isDone}">
                    <input type="checkbox" v-model="todo.isDone" @click="saveTodoToStorage"/>
                    {{ todo.title }}
                </lable>
            </div>
            <a href="">All</a> | 
            <a href="">Working</a> | 
            <a href="">Completed</a>
            <button @click="deleteTodos">完了済みを削除</button>
        </div>
        <script src="./lib/vue.js"></script>
        <script src="./js/app.js"></script>
    </body>
</html>